---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Deploiement avec Astro.">
  <main>
    <h1>Deploiement avec Astro</h1>
    <p class="instructions">
      Ceci est un projet d'example pour déployer votre site statique avec Astro.
    </p>
    <nav class="nav-links">
      <a href="/posts/post-1">Article 1</a>
      <a href="/posts/post-2">Article 2</a>
      <a href="/about">A propos</a>
      <a href="/contact">Contact</a>
    </nav>
  </main>
</Layout>
